<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation=
		"http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<!-- Controller -->
	<bean class="controller.library.LibraryController" />
	
	<!-- Service -->
	<bean id = "LibraryBoardService"
			class="service.libraryBoard.LibraryBoardService" />
	<bean id = "LibraryBoardListService"
			class="service.libraryBoard.LibraryBoardListService" />
			
	<!-- repository -->
	<bean id="LibraryBoardRepository"
			class="repository.LibraryBoardRepository"></bean>
</beans>